body{
   height: 100vh;
   width: 1440px;
   background-image: url(bg-pattern-bottom-desktop.svg), url(bg-pattern-top-desktop.svg);
   background-position: bottom, left top;
   background-repeat: no-repeat,no-repeat;
   background-size: 840px, 600px;
   font-family: 'Spartan', sans-serif;
   display: grid;
   grid-template-columns: 1440px;
   justify-content: center;
   margin-top: 150px;
   margin-left: 150px;
   gap: 50px;
  }

  .topContent {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
  }

.reviewBoxes {
  grid-column: 1 / 3;
}

 .intro {
  color: hsl(300, 43%, 22%);
  height: auto;
  width: 450px;
}

.text1 {
  font-size: 45px;
  font-weight: bold;
}
.text2 {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}

.recBoxes {
  height: 240px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 13px;
  margin-left: 200px;
}

.recBox1 {
  height: 60px;
  width: 400px;
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  padding-left: 25px;
}

.recBox2 {
  height: 60px;
  width: 400px;
  right: 25px;
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  padding-left: 25px;
  margin-left: 40px;
}

.recBox3 {
  height: 60px;
  width: 400px;
  right: 105px;
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  padding-left: 25px;
  margin-left: 80px;
}

.recBox1Text,.recBox2Text,.recBox3Text {
  font-size: 15px;
  padding-left: 20px;
}

.checked {
  color: orange;
}



.recBox4 {
  height: 250px;
  width: 350px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 3%;
}

.recBox5 {
  height: 250px;
  width: 350px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 3%;
  margin-top: 20px;
}

.recBox6 {
  height: 250px;
  width: 350px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 3%;
  margin-top: 40px;
}

.recBox4ImageText,.recBox5ImageText,.recBox6ImageText {
  padding-left: 17px;
}

.image1Content,.image2Content,.image3Content {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  text-align: center;
  padding-left: 30px;
  padding-top: 40px;
  row-gap: 17px;
  line-height: 0.8;
}



img {
  border-radius: 50%;
}

#name1,#name2,#name3 {
  color: white;
  font-size: 17px;
}

#designation1,#designation2,#designation3 {
  color: hsl(333, 80%, 67%);
  font-size: 17px;
}

.mainContent1,.mainContent2,.mainContent3{
  color: white;
  font-size: 7px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 2;
  font-weight: lighter;
}

.reviewBoxes {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}


@media screen and (max-width: 375px) {
  body {
    height: 100vh;
    width: 375px;
    background-image: url(bg-pattern-bottom-mobile.svg), url(bg-pattern-top-mobile.svg);
    background-position: left bottom, left top;
    background-repeat: no-repeat,no-repeat;
    font-family: 'Spartan', sans-serif;
    display: grid;
    grid-template-areas: 375px;
    justify-content: center;
    margin-top: 150px;
    margin-left: 50px;
    gap: 50px;
  }

  .intro {
    color: hsl(300, 43%, 22%);
    height: auto;
    width: 450px;
    margin-left: 200px;
  }

  .reviewBoxes {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
  }

  .recBox4, .recBox5, .recBox6 {
    height: 250px;
    width: 350px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 3%;
    margin-top: 30px;
    margin-left: 510px;
  }

  .recBox1, .recBox2, .recBox3 {
    height: 60px;
    width: 310px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: 0px;
  }

  .recBox1Text,.recBox2Text,.recBox3Text {
    font-size: 12px;
    padding-left: 20px;
  }

  .topContent {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 30px;
    margin-left: 320px;
  }

  .intro {
    color: hsl(300, 43%, 22%);
    height: auto;
    width: 350px;
  }

  .text1 {
    font-size: 35px;
    font-weight: bold;
  }
  .text2 {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.5;
  }
}
